# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# venv
venv/
.env
.venv

# models
models/*

# uploads
uploads/*

# embeddings
embeddings/*

# dataset (optional large files)
dataset/*

# OS
.DS_Store
Thumbs.db

# logs
*.log
__marimo__/
